.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
#scatter .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.card-body{
    border-color: red;
}