nav {
  background-color: #5f00ba;
  height: max-content;
  width: 100%;
  padding: 10px;
}
nav ul {
  float: left;
  margin: 0;
}
nav ul li {
  display: inline-flex;
  line-height: 20px;
  margin: 0 5px;
  align-content: center;
}
nav ul li a {
  text-decoration: none;
  color: wheat;
  font-size: 17px;
  text-transform: uppercase;
}
.btn-warning {
  background-color: #ff4b5c;
  border-color: #ff4b5c;
}
.btn-warning:hover {
  background-color: #fd3448;
  border-color: #fd3448;
}
