nav
{
    background-color:#8d93ab;
    height: 50px;
    width: 100%;

}
nav ul
{
    float: left;
    margin-right: 20px;
}
nav ul li{
    display: inline-flex;
    line-height: 35px;
    margin: 0 5px;
    align-content: center;
}
nav ul li a{
    color: wheat;
    font-size: 17px;
    text-transform: uppercase; 
}
.btn-warning{
    background-color: #ff4b5c;
    border-color: #ff4b5c;
}
.btn-warning:hover{
    color: #080808;
    background-color: #ffe484;
    border-color: #ffe484;
 }
 
